
*{
    font-family: cursive;
}
body{
    background-color:rgb(230, 207, 207);
}
.css{
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    gap: 5px;
    padding: 20px auto;
    width: 100px;
    max-height: 600px;
}
.css1{
    
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    /* align-self: center;    */
    padding: 20px;
    border: 3px solid ;
    width: 400px;
    max-height: 600px;
} 


